<!DOCTYPE html>
<html>
<head>
  <title>TrueTrac</title>
  <%= stylesheet_link_tag    'application', media: 'all' %> <!--, 'data-turbolinks-track' => true -->
  <%= javascript_include_tag 'application' %> <!--, 'data-turbolinks-track' => true-->
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">   
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">     
</head>
<body>
  <ul id="dropdown1" class="dropdown-content z-depth-2">
    <li class="waves-effect z-depth-3"><%= link_to 'Twitter', '/auth/twitter', class: 'social twitter' %></li>
    <li class="divider"></li>
    <li id="facebook-list" class="waves-effect z-depth-3" style="overflow:visible"><%= link_to 'Facebook', '/auth/facebook', class: 'social facebook' %></li>
  </ul>
<div class="navbar-fixed">
  <nav class="z-depth-3">
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo">TrueTrac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <% if !logged_in? %>
          <a class="waves-effect waves-light modal-trigger" href="#modal1">SIGN IN<i class="fa fa-sign-in right"></i></a> <!-- Modal Trigger -->
         <% else %>
          <li class="waves-effect"><i class="fa fa-comments right"></i><%= link_to 'CHAT', '/chat', class: 'social' %></li>
          <li class="waves-effect"><i class="fa fa-globe right"></i><%= link_to 'MAP', '/map', class: 'social' %></li>
          <li class="waves-effect col s12"><i class="fa fa-cog right"></i><%= link_to 'OPTIONS', '/options', class:"white-text", id:"options-btn" %></li>
          <li class="waves-effect"><i class="fa fa-sign-out right"></i><%= link_to 'SIGN OUT', sign_out_path, id:"signout-btn" %></li>
        <% end %> 

<!-- for Mobile site -->
      </ul>
      <ul class="side-nav teal" id="mobile-demo">
      <div class= "row">
        <% if !logged_in? %>
          <p class= "teal-text white col s12">Sign in with:</p>
          <li class="waves-effect col s6"><%= link_to 'Twitter', '/auth/twitter', class:"white-text"  %></li>
          <li class="waves-effect col s6"><%= link_to 'Facebook', '/auth/facebook', class:"white-text"  %></li>
        <% else %> 
          <li class="waves-effect col s12"><%= link_to 'EXPLORE', '/map', class:"white-text" %></li>
          <li class="waves-effect col s12"><%= link_to 'CHAT', '/chat', class:"white-text"  %></li>
          <li class="waves-effect col s12"><%= link_to 'OPTIONS', '/options', class:"white-text" %></li>
          <li class="waves-effect col s12"><%= link_to 'SIGN OUT', sign_out_path, class:"white-text" %></li>
        <% end %> 
        </div>
      </ul>
    </div>
  </nav>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>SIGN IN</h4>
      <p>Please sign in with Facebook or Twitter</p>
        <i class="fa fa-twitter"></i> <%= link_to 'Twitter', '/auth/twitter', class: 'twitter' %>
        <i class="fa fa-facebook-official"></i> <%= link_to 'Facebook', '/auth/facebook', class: 'facebook' %>
    </div>
  </div>
 
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
<main>
    <%= yield %>
</main>
        <footer class="page-footer" style="padding-top:0; margin-top: 0">
          <div class="footer-copyright">
            <div class="container">
            © 2015 Dominic White
            <a class="grey-text text-lighten-4 right" href="https://generalassemb.ly/">A General Assembly Project</a>
            </div>
          </div>
        </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
